@(user: User,sessionId: Integer)
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<div class="head">
 <div id="top">
  <div id="logoRepeat"></div>
  <div id="logo"></div>
 </div>
</div>

<div id="main-side">
    <div id="href">
        <p><a href="/game">Newspaper</a></p>
        <p><a href="/user/logout">Logout</a></p>
    </div>

    <div id="user-info">
        <p>@user.getUser(sessionId).getName()</p>
        <p>@user.getUser(sessionId).getLocation()</p>
        <p>@user.getUser(sessionId).getLocationWeather()</p>
    </div>

    <div id="main">
        Welcome back @user.getUser(sessionId).getName()
        <p>News:</p>
        @for(news <- user.getNews()){
        <p>@news</p>
        }

    </div>

    <div id="bottom">Code created by Bleo, images propably not.</div>
</div>

